<div class="w-full bg-gradient-to-r from-red-400 via-pink-400 to-purple-400 flex justify-between items-center py-2 ">
    <div class="flex justify-center items-center">
    <img src="../favicon.ico" type="image/x-icon" class="ml-3 mr-5 rounded-full bg-gray-50 p-1 w-[3rem] h-[3rem]"/>
     <div class="text-2xl text-center font-bold text-white">TODO LIST APP</div>
     </div> 
     <div class="  ">
    
        <button class={{btn_route_common}} [ngClass]="{' opacity-custom': button2Active }" (click)="toggleButton2()" routerLink="/addtodos">Add Todo</button>
        <button class={{btn_route_common}} [ngClass]="{'opacity-custom': button1Active }" (click)="toggleButton1()" routerLink="/todos">View Todos</button>
    </div>
    </div>