<div class="flex items-center w-full justify-center flex-col">
    <div class="text-3xl text-center font-bold mt-6">Add Todo</div>
    <form (ngSubmit)="onSubmit()" class="flex flex-col items-center justify-start my-5 shadow appearance-none p-12 rounded">
        <input type="text" class=" p-2 border-2 border-gray-300 rounded mb-5" placeholder="Add Title" name="title" [(ngModel)]="title">
        <input type="text" class=" p-2 border-2 border-gray-300 rounded " placeholder="Add Description" name="description" [(ngModel)]="description">
        <div class="text-red-500 my-3 text-left text-sm w-full " >{{error}}</div>
        <div class="flex items-start justify-start w-full flex-row">
            <button type="submit" class="bg-blue-500 text-white px-4 py-1 rounded hover:bg-blue-700 ">Add Todo</button>
            
        </div>
    </form>    
</div>